<section class="mx-4 sm:mx-8 md:mx-12 lg:mx-20 xl:mx-24">
  <div class="w-full h-20 flex items-center justify-between text-white">
    <h1 class="text-4xl font-black italic">IL</h1>
    <p class="text-sm text-[#C4C5DA]">© 2026 Isaac Lira. Todos os direitos reservados.</p>
    <nav class="flex gap-8 font-geist text-[#C4C5DA]">
      <a href="https://github.com/isaaclira42" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/isaaclira42/" target="_blank">Linkedin</a>
      <a href="mailto:isaaclira422@gmail.com">Email</a>
    </nav>
  </div>
</section>
