<section class="mx-4 sm:mx-8 md:mx-12 lg:mx-20 xl:mx-24 mb-12 md:mb-20 lg:mb-32">
  <div class="flex flex-col lg:flex-row items-start gap-10 w-full">
    <!-- Coluna 1 -->
    <div>
      <h2
        class="font-black text-white leading-[0.9] text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl break-words"
      >
        ISAAC L
      </h2>

      <h2
        class="font-black text-primary italic leading-[0.9] text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl break-words"
      >
        FULLSTACK
      </h2>

      <h2
        class="font-black text-white leading-[0.9] text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl break-words"
      >
        DEVELOPER<span class="text-primary">*</span>
      </h2>
    </div>

    <!-- Coluna 2 -->
    <div class="lg:ml-auto lg:self-stretch flex flex-col justify-between gap-8">
      <!-- Textos -->
      <p class="text-white text-sm sm:text-base 2xl:text-lg lg:text-right leading-relaxed max-w-xl">
        Sou estudante de Análise e Desenvolvimento de Sistemas no IFRN. Estou me formando como
        desenvolvedor fullstack, com foco especial no backend.
      </p>

      <!-- Ações -->
      <div class="flex flex-wrap items-center lg:justify-end gap-3">
        <a
          href="/Isaac_Lira-desenvolvedor_fullStack.pdf"
          class="text-primary border-2 border-primary px-6 sm:px-8 py-2.5 rounded-lg hover:bg-primary hover:text-white transition-colors duration-300"
        >
          <!-- <fa-icon [icon]="faDownload" class="text-[18px] mr-2"></fa-icon> -->
          Baixar CV
        </a>

        <a
          href="https://github.com/IsaacLira42"
          class="w-11 h-11 flex items-center justify-center rounded-full border-2 hover:scale-105 transition"
        >
          <fa-icon [icon]="faGithub" class="text-[22px]"></fa-icon>
        </a>

        <a
          href="https://wa.me/5584981431552"
          class="w-11 h-11 flex items-center justify-center rounded-full border-2 hover:scale-105 transition"
        >
          <fa-icon [icon]="faWhatsapp" class="text-[22px]"></fa-icon>
        </a>

        <a
          href="https://www.instagram.com/isaaclira70/"
          class="w-11 h-11 flex items-center justify-center rounded-full border-2 hover:scale-105 transition"
        >
          <fa-icon [icon]="faInstagram" class="text-[22px]"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
