<section class="mx-4 sm:mx-8 md:mx-12 lg:mx-20 xl:mx-24 mb-12 md:mb-20 lg:mb-32">
  <app-sections-titles title="MINHA STACK" subtitle="TECNOLOGIAS QUE DOMINO" />
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-7 items-stretch">
    <app-stack-card title="BACKEND" [technologies]="backendTechs" />
    <app-stack-card title="FRONTEND" [technologies]="frontendTechs" />
    <app-stack-card title="DADOS" [technologies]="dataTechs" />
    <app-stack-card title="DEVOPS & FERRAMENTAS" [technologies]="devopsFerramentasTechs" />
  </div>
</section>
